<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Matches</title>
    <link rel="stylesheet" href="/css/matches.css">
    <script>
        // Funkcja do obsługi wysyłania formularza
        async function handleSubmit(event) {
    event.preventDefault(); // Zapobiegaj domyślnej akcji formularza
    const form = event.target;
    const url = form.action;
    const formData = new FormData(form);
    const jsonData = Object.fromEntries(formData.entries());
    const tournamentId = form.dataset.tournamentId; // Upewnij się, że to działa jak oczekujesz

    try {
        const response = await fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(jsonData),
        });

        if (response.ok) {
            // Upewnij się, że przekierowanie jest poprawne
            window.location.href = `/tournament/${tournamentId}`;
        } else {
            console.error("Update failed", response.statusText);
        }
    } catch (error) {
        console.error('Error:', error);
    }
}

        // Dodaj obsługę zdarzeń do wszystkich formularzy po załadowaniu strony
        window.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('form').forEach(form => {
                form.addEventListener('submit', handleSubmit);
            });
        });
    </script>
</head>
<body>
    <button onclick="window.location='/tournament/<%= tournamentId %>';">Powrót do widoku tabeli</button>
    <div id="overlay" class="overlay"></div>
    <div id="editMatchPopup" class="popup" style="display:none;">
        <!-- Popup formularza edycji wyników meczu -->
        <form id="editMatchForm" action="" method="post" data-tournament-id="<%= tournamentId %>" onsubmit="event.preventDefault(); submitForm();">
            <!-- Pola formularza wypełniane przez JavaScript poniżej -->
        </form>
         <!-- Przycisk Zamknij obok przycisku Aktualizuj -->
    </div>
    <% const groupedMatches = {}; matches.forEach(match => { if (!groupedMatches[match.round]) { groupedMatches[match.round] = []; } groupedMatches[match.round].push(match); }); Object.keys(groupedMatches).sort((a, b) => a - b).forEach(round => { %>
        <h2 style="font-weight: bold;">Runda <%= round %></h2>
        <% groupedMatches[round].forEach(match => { %>
            <div>
                <% if (match.whitePlayerScore !== undefined && match.blackPlayerScore !== undefined) { %>
                    <p><%= match.whitePlayer %> <%= match.whitePlayerScore %> - <%= match.blackPlayerScore %> <%= match.blackPlayer %>
                        <% if (match.linkToMatch) { %> *** (<a href="<%= match.linkToMatch %>" target="_blank">Link do meczu</a>) *** <% } %>
                        <button onclick="editMatch('<%= match._id %>', '<%= match.whitePlayer %>', '<%= match.whitePlayerScore %>', '<%= match.blackPlayer %>', '<%= match.blackPlayerScore %>', '<%= match.linkToMatch ? match.linkToMatch : ',' %>')">Edytuj</button>
                    </p>
                <% } else { %>
                    <!-- Oryginalny formularz do wprowadzania wyników -->
                    <form action="/matches/<%= match._id %>" method="post" data-tournament-id="<%= tournamentId %>">
                        <input type="hidden" name="_method" value="put" />
                        <label for="whitePlayerScore"><%= match.whitePlayer %> (BIAŁE):</label>
                        <select name="whitePlayerScore" required>
                            <option value="" selected disabled>Wybierz wynik</option>
                            <option value="1">1</option>
                            <option value="0.5">0.5</option>
                            <option value="0">0</option>
                        </select>
                        <label for="blackPlayerScore"><%= match.blackPlayer %> (CZARNE):</label>
                        <select name="blackPlayerScore" required>
                            <option value="" selected disabled>Wybierz wynik</option>
                            <option value="1">1</option>
                            <option value="0.5">0.5</option>
                            <option value="0">0</option>
                        </select>
                        <label for="linkToMatch">Link do meczu (opcjonalnie):</label>
                        <input type="text" name="linkToMatch">
                        <button type="submit">Aktualizuj mecz</button>
                    </form>
                <% } %>
            </div>
        <% }); %>
    <% }); %>
    <script>
        function editMatch(matchId, whitePlayer, whitePlayerScore, blackPlayer, blackPlayerScore, linkToMatch) {
            const form = document.getElementById('editMatchForm');
            form.action = '/matches/' + matchId + '?_method=put';
            form.innerHTML = `
                <label for="whitePlayerScore">Wynik białych (${whitePlayer}):</label>
                <select id="whitePlayerScore" name="whitePlayerScore" required>
                    <option value='val1' selected disabled hidden>${whitePlayerScore}</option>
                    <option value="1" ${whitePlayerScore === 1 ? "selected" : ""}>1</option>
                    <option value="0.5" ${whitePlayerScore === 0.5 ? "selected" : ""}>0.5</option>
                    <option value="0" ${whitePlayerScore === 0 ? "selected" : ""}>0</option>
                </select>
                <label for="blackPlayerScore">Wynik czarnych (${blackPlayer}):</label>
                <select id="blackPlayerScore" name="blackPlayerScore" required>
                    <option value='val1' selected disabled hidden>${blackPlayerScore}</option>
                    <option value="1" ${blackPlayerScore === 1 ? "selected" : ""}>1</option>
                    <option value="0.5" ${blackPlayerScore === 0.5 ? "selected" : ""}>0.5</option>
                    <option value="0" ${blackPlayerScore === 0 ? "selected" : ""}>0</option>
                </select>
                <label for="linkToMatch">Link do meczu:</label>
                <input type="text" id="linkToMatch" name="linkToMatch" value="${linkToMatch}">
                <button type="submit">Aktualizuj</button>
                <button onclick="closePopup()">Zamknij</button>
            `;
            document.getElementById('editMatchPopup').style.display = 'block';
            document.getElementById('overlay').style.display = 'block'; // Pokaż overlay
            document.getElementById('editMatchPopup').style.display = 'block';
        }

        function closePopup() {
            document.getElementById('overlay').style.display = 'none'; // Ukryj overlay
            document.getElementById('editMatchPopup').style.display = 'none';
        }

        function submitForm() {
            const form = document.getElementById('editMatchForm');
            console.log(tournamentId)
            fetch(form.action, {
                method: 'POST',
                body: new FormData(form)
            }).then(response => {
                if (response.ok) {
                    window.location.href = `/tournament/${tournamentId}`;
                }
            });
        }
    </script>
    <style>
        /* Styl dla tła popupa */
        .popup {
            position: fixed; /* Stała pozycja */
            top: 50%; /* Centrowanie w pionie */
            left: 50%; /* Centrowanie w poziomie */
            transform: translate(-50%, -50%); /* Precyzyjne centrowanie */
            width: auto; /* Szerokość na podstawie zawartości */
            min-width: 300px; /* Minimalna szerokość */
            padding: 20px; /* Odstępy wewnątrz */
            background-color: white; /* Białe tło */
            border: 1px solid #ccc; /* Subtelna obramówka */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lekkie cieniowanie */
            z-index: 1050; /* Upewnij się, że jest nad innymi elementami */
        }

        /* Styl dla formularza i jego elementów */
        #editMatchForm {
            display: flex; /* Użycie flexboxa dla układu */
            flex-direction: column; /* Elementy ułożone pionowo */
            gap: 10px; /* Odstępy między elementami */
        }

        #editMatchForm button {
            align-self: center; /* Centrowanie przycisków */
            margin-top: 20px; /* Odstęp od pozostałej części formularza */
        }

        #editMatchForm > button:last-child {
            margin-left: 10px; /* Odstęp między przyciskami */
        }

        /* Dodatkowy styl, aby umieścić przyciski obok siebie */
        .form-buttons {
            display: flex;
            justify-content: center; /* Centrowanie przycisków */
        }

        /* Styl dla przyciemnienia tła */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1040; /* Poniżej popupa, ale nad resztą treści */
            display: none; /* Domyślnie ukryty */
        }
    </style>
</body>
</html>

