<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TURNIEJ SZACHOWY</title>
    <link rel="stylesheet" href="/css/tournament.css">
</head>
<body>
    <h2>TABELA WYNIKÓW</h2>
    <table>
        <tr>
            <th>Nick</th>
            <th>Imię</th>
            <th>M</th>
            <th>Pkt</th>
            <th>W</th>
            <th>R</th>
            <th>P</th>
            <% if (countSonnebornBergerSystem) { %>
                <th>SB</th>
            <% } %>
        </tr>
        <% table.forEach(function(user) { %>
            <tr>
                <td><a href="https://www.chess.com/member/<%= user.nick %>" target="_blank"><%= user.nick %></a></td>
                <td><a href="/matches/<%= user.userId %>/<%= tournamentId %>"><%= user.username %></a></td>
                <td><%= user.numOfMatches %></td>
                <td><%= user.points %></td>
                <td><%= user.wins %></td>
                <td><%= user.draws %></td>
                <td><%= user.losses %></td>
                <% if (countSonnebornBergerSystem) { %>
                    <td><%= user.sb %></td>
                <% } %>
            </tr>
        <% }); %>
    </table>
    <br>
    <p>By zgłosić wynik meczu kliknij w <strong>IMIĘ</strong> przy swoim nicku w tabeli</p>
    <br>
    <% 
    const rounds = {}; 
    matches.forEach(match => {
        if (!rounds[match.round]) {
            rounds[match.round] = [];
        }
        rounds[match.round].push(match);
    });
    %>
    <% for(const [round, matches] of Object.entries(rounds)) { %>
        <h3>RUNDA <%= round %>:</h3>
        <ul>
            <% matches.forEach(match => { %>
            <li>
                <% if (match.status === "finished") { %>
                    <strong><%= match.whitePlayer %> (<%= match.whitePlayerScore || "0" %>) vs. <%= match.blackPlayer %> (<%= match.blackPlayerScore || "0" %>)</strong>
                    <% if (match.linkToMatch) { %>
                        >>> <a href="<%= match.linkToMatch %>" target="_blank">Zobacz</a>
                    <% } %>
                <% } else { %>
                    <%= match.whitePlayer %> (<%= match.whitePlayerScore || "0" %>) vs. <%= match.blackPlayer %> (<%= match.blackPlayerScore || "0" %>)
                <% } %>
            </li>
            <% }); %>
        </ul>
    <% } %>
</body>
</html>
