<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Table</title>
    <link rel="stylesheet" href="/css/tournament.css">
</head>
<body>
    <h2>User Table</h2>
    <table>
        <tr>
            <th>Username</th>
            <th>Number of Matches</th>
            <th>Points</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Losses</th>
        </tr>
        <% table.forEach(function(user) { %>
            <tr>
                <td><a href="/matches/<%= user.userId %>/<%= tournamentId %>"><%= user.username %></a></td>
                <td><%= user.numOfMatches %></td>
                <td><%= user.points %></td>
                <td><%= user.wins %></td>
                <td><%= user.draws %></td>
                <td><%= user.losses %></td>
            </tr>
        <% }); %>
    </table>
    <br>
    <h2>Matches by Round</h2>
    <% 
    const rounds = {}; 
    matches.forEach(match => {
        if (!rounds[match.round]) {
            rounds[match.round] = [];
        }
        rounds[match.round].push(match);
    });
    %>
    <% for(const [round, matches] of Object.entries(rounds)) { %>
        <h3>RUNDA <%= round %>:</h3>
        <ul>
            <% matches.forEach(match => { %>
            <li>
                <%= match.whitePlayer %> (<%= match.whitePlayerScore || "0" %>) vs. <%= match.blackPlayer %> (<%= match.blackPlayerScore || "0" %>)
                <% if (match.linkToMatch) { %>
                    - <a href="<%= match.linkToMatch %>" target="_blank">Watch Match</a>
                <% } %>
            </li>
            <% }); %>
        </ul>
    <% } %>
</body>
</html>
